/* GLOBAL */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.in-padding-7{
  padding: 7px 0;
}

.in-padding-80{
  padding:80px 0;
}

.in-padding-60{
  padding:60px 0;
}

.in-padding-30{
  padding: 30px 0;
}

.in-padding-15{
  padding: 15px 0;
}

.in-margin-bottom-20{
  margin-bottom: 20px;
}

.in-wrapper-50{
  width: 50%;
  margin: 0 auto;
}

.in-wrapper-70{
  width: 70%;
  margin: 0 auto;
}

.in-height-150{
  height: 150px;
}

.gray{
  background-color: #F3F5F9;
  text-align: center;
}

body{
  font-family: 'Roboto', sans-serif;
}


/* MENU FIX */
.menu-fix{
  background-color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  color: #2285FD;
  height: 90px;
}

.menu-fix ul{
  list-style: none;
  padding: 7px 0;
}

.menu-fix ul li{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-fix ul li a{
  color: #162C5A;
}

.menu-fix ul li a:hover{
  color: #162C5A;
  text-decoration: none;
}

.glyphicon-menu-hamburger{
  padding: 10px;
  font-size: 20px;
  color: #2285FD;
  border: 1px solid #2285FD;
  border-radius: 5px;
  margin-right: 20px;

}

.menu-fix img{
  width: 150px;
}

/* MAIN */

main{
  margin-top: 90px;
  
}

/* JUMBOTRON */

.in-jumbotron{
  background-image: url(../img/bg-banner-home.jpg);
  background-position: right;
  background-size: contain;
  padding: 60px 0;
  color: white;
}

.in-jumbotron h1{
  font-size: 60px;
  font-weight: 700;
  text-align: left;
}

.in-jumbotron p{
  color: #BACCFF;
}

.in-jumbotron .white{
  background-color: white;
  border-radius: 5px;
}

/* FORM */

form{
  color:black;
}

.white{
  background-color: white;
  padding: 15px 5px;
}

.white h3{
  color: black;
}

.white>span{
  color: #006AFF;
  font-size: 24px;
}

.white span{
  color: #006AFF;
}

.white button{
  width: 100%;
  margin-bottom: 10px;
}

.white p{
  color: #152B58;
}

.white .button-logo{
  background-image: url(../img/google-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
  background-color: white;
}

.button-logo>span{
  line-height: 30px;
  color: #6E6E6E;
}

/* .------ */

/* SECTION-PHOTO */

.section-photo img{
  width: 100%;
  max-height: 90px;
}

/* SEZIONE DEPLOY */

.deploy h3{
  color: #031C4E;
  font-size: 32px;
  font-weight: 700;
}

.sotto-p{
  font-size: 152%;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}

.deploy ul{
  list-style: none;
  border-left: 1px solid #CCCCCC;
}

.deploy ul li{
  padding-left: 15px;
  font-size: 18px;
  margin-top: 15px;
  color: #7C869E;
}

.deploy h4{
  color: #203561;
}

.deploy img{
  margin-bottom: 12px;
}

.deploy p{
  color: #63718D;
}

/* /SEZIONE DEPLOY */


/* SEZIONE FEATURES */

.features h3{
  color: #031C4E;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.features img{
  margin-bottom: 12px;
}

.features h4{
  color: #203561;
}

.features p{
  color: #63718D;
}

.features span{
  color: #217CFF;
  font-size: 16px;
}

.features .font-freccia{
  font-size: 18px;
  margin-left: 10px;
}

/* /SEZIONE FEATURES */


.blue{
  background-color: blue;
  height: 100px;
}


.purple{
  background-color: purple;
  height: 100px;
}

/* SEZIONE COLONNE-BLU */

.colonne-blu{
  background-image: linear-gradient(#0046C5, #00209B);
  color: white;
}

.colonne-blu h3{
  color: white;
  font-size: 36px;
}

.span-gray{
  color: #9AAAD9;
}

.colonne-blu a{
  color: #00CDCF;
}

.font-freccia{
  font-size: 13px;
  margin-left:10px;
}

.line-white{
  border-top: 1px solid white;
  width: 95%;
}

.colonne-blu span{
  line-height: 40px;
}

/* /SEZIONE COLONNE BLU */


/* SEZIONE BLU BOTTONE */

.sezione-blu-bottone{
  background-image: linear-gradient(#0046C5, #00209B);
}

.sezione-blu-bottone h3{
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}

.sezione-blu-bottone button{
  padding: 10px 15px;
  color: #1A78FF;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-weight: 700;

}

/* /SEZIONE BLU BOTTONE */

/* FOOTER */

footer{
  background-color: #031C4E;
  padding: 15px 0;
}

footer img{
  width: 12%;
  margin-bottom: 10px;
}

footer ul li h5{
color: #FCFCFD;
font-size: 120%;
}

footer p{
color: #8992A8;
margin-bottom: 0;
}

footer span{
  color: #4F5E7F;
}

footer ul{
  list-style: none;
}

footer ul li{
  line-height: 25px;
  font-size: 110%;
}

footer .lista-loghi li{
  display: inline;
  margin-right: 10px;
  line-height: 50px;
}

footer ul li a{
  color:#959EB1;
}

footer ul li a i{
  color: #7A859D;
  font-size: 20px;
}